/* <!-- Wrapper --> */
#wrapper{
    padding-top: 70px;
}
body:not(.no-transition) #wrapper, .animsition-overlay{
    opacity: 1 !important;
}

/*
    3 de Oct, 2021
    Cambios en la sección "Productos"
    https://www.wrike.com/open.htm?id=766314843
*/
#shop .product .product-image a{
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#shop .product .product-desc .product-title h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#loading-products{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 1;
}
#loading-products::after{
    color: #00917e;
    content: 'Obteniendo productos...';
    position: absolute;
    z-index: 2;
    height: 50px;
    line-height: 50px;
    width: 250px;
    text-align: center;
    left: 50%;
    margin-left: -125px;
    top: 50%;
    margin-top: -25px;
    background-image: url('/src/images/logo.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 70px;
}
#loading-products.hide{
    display: none;
}
/* 3 de Oct, 2021 - FIN */


/* <!-- Modal para sugerir la visita a la sección productos --> */
#modal-visit-products{
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    z-index:999;
    cursor:pointer;
}
#modal-visit-products a.mvp-content-holder{
    display:block;
    position:absolute;
    max-width: 652px;
    height:auto;
    top:40px;
    left:50%;
    margin-left:-326px;
    z-index:1000;
    background-color: #fff;
    border-radius: 20px;
}
#modal-visit-products a.mvp-content-holder .gray-logos-zone{
    background-color: transparent;
    padding-top: 0px;
}
#modal-visit-products a.mvp-content-holder .gray-logos-zone .logos-holder .logo-item::after{
    display: none;
}



#modal-visit-products::after{
    content: "×";
    position:absolute;
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    line-height:40px;
    color: #fff;
    text-align:center;
    vertical-align:middle;
    z-index:1001;
    font-size:32px;
}
#top-cart .top-cart-content{
    position: fixed;
    right: 5px;
}
@media (max-width: 760px) {
    #modal-visit-products a.mvp-content-holder{
        max-width:80%;
        top: 100px;
        left:10%;
        margin-left:unset;
        min-width: 250px;
    }
}


/* <!-- Menú Header: Meses sin interes y compra segura --> */
#plados-header{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    z-index:999;
    background-color: #fff;
}
#plados-header .mobile{display:none;}
#plados-header ul{
    display: block;
    margin:0px;
    list-style: none;
    text-align: right;
}
#plados-header ul li{
    display: inline-block;
}
#plados-header .col-logo{
    position: relative;
}
#plados-header .col-logo .img-logo{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#plados-header ul li a{
    display: block;
    text-align: center;
    color:#000;
    font-weight: bold;
    font-size: 13px;
    height: 75px;
    line-height: 75px;
    padding:0px 20px;
    position: relative;
}
#plados-header ul li a.buy::after{
    display: block;
    position: absolute;
    content:" ";
    height: 34px;
    top:50%;
    margin-top:-17px;
    left:0px;
    border:#1abc9c 3px solid;
    border-radius: 20px;
    width: 100%;
}
#plados-header ul li img{
    display: inline-block;
    width: 70px;
    margin:0px 15px;
}
#plados-header ul li:last-child{
    border-left: 1px solid #EEE;
}
#plados-header ul li a.cart-helper{
    display: block;
    text-align: center;
    margin:0px;
    width: 50px;
    border:none;
    padding:0px;
    background-color: transparent;
    position:relative;
    font-size: 18px;
    color: #1cbc9c;
}
#plados-header ul li a.cart-helper b{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #15917e;
    color:#fff;
    border-radius: 100%;
    top:50%;
    margin-top: -20px;
}
#plados-header .toggle-menu{visibility: hidden;}
@media (max-width: 1330px) and (min-width:1171px){
    #plados-header ul li a{
        padding:0px 10px;
    }
}
@media (max-width: 1170px) and (min-width:1030px){
    #plados-header ul li a{
        padding:0px 10px;
        font-size:10px;
    }
}
@media (max-width: 1029px){
    #plados-header .desktop{display:none;}
    #plados-header .mobile{display:block;}
    #wrapper{ padding-top: 60px; }
    #plados-header{
        background-color: #fff;
        height: 60px;
    }
    #plados-header ul li a{
        height: 60px;
        line-height: 60px;
    }
    #plados-header .col-logo .img-logo{
        height:60px;
        background-size: 80%;
    }
    #plados-header .mobile-menu{
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: #4e4d4c;
        text-align: center;
        width: 100%;
        border-right: 1px solid #EEE;
    }
    #plados-header .toggle-menu{
        display: block;
        list-style: none;
        margin:0px;
        padding:0px;
        background-color: #fff;
        padding:0px 20px 10px 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        position: absolute;
        top:58px;
        width: 100%;
    }
    #plados-header .toggle-menu li{
        border-bottom: 1px solid #EEE;
        width:100%;
    }
    #plados-header .toggle-menu li a{
        height: 40px;
        line-height: 40px;
        text-align: left;
    }
    #plados-header .toggle-menu li:last-child{
        border: none;
        padding-top: 10px;
    }
    #plados-header ul li a.buy{
        width: 180px;
        text-align: center;
    }
}
@media (max-width: 590px){
    #plados-header .col-logo .img-logo{
        background-position: left center;
    }
    #plados-header ul li img{
        display: inline-block;
        width: 70px;
        margin: 0px 10px;
        margin-top: -5px;
    }
}
@media (max-width: 560px){
    #plados-header .col-logo .img-logo{
        background-position: left center;
    }
    #plados-header ul li img{
        display: inline-block;
        width: 45px;
        margin: 0px 10px;
        margin-top: -5px;
    }
}



/* <!-- Footer :: Gray Zone --> */
#footer{
    border-top:none;
}
#footer .gray-zone{
    background-color: #f5f5f5;
    padding:55px 0px;
}
#footer .gray-zone .img-holder{
    height: 50px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
#footer .gray-zone .img-holder::after{
    display: block;
    content: " ";
    position: absolute;
    right:0px;
    top:0px;
    width: 1px;
    background-color: #dedede;
    height: 100%;
}
#footer .gray-zone .col:last-child .img-holder::after{
    display: none;
}
@media (max-width: 991px){
    #footer .gray-zone .img-holder{
        height: 35px;
    }
}

@media (max-width: 991px){
    #footer .gray-zone .img-holder{
        height: 50px;
        margin-bottom: 50px;
    }
    #footer .gray-zone .img-holder::after{
        display: none;
    }
    #footer .gray-zone .col:nth-child(3) .img-holder,
    #footer .gray-zone .col:nth-child(4) .img-holder{
        margin-bottom: 0px;
    }
}

/* <!-- Logos en detalle de producto --> */
.side-product-logos{
    text-align: left;
}
.side-product-logos .img-holder{
    height: 40px;
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}


/* Home: Sliders */
.swiper-slide{
    position: relative;
}
.swiper-slide .cta{
   position: absolute;
   left: 50%;
   margin-left: -150px;
   display: block;
   background-color: #009b7e;
   color:#fff;
   text-align: center;
   height: 50px;
   line-height: 50px;
   padding: 0px 50px;
   max-width: 300px;
   width: 300px;
   bottom: 120px;
}
@media (max-width: 2560px) and (min-width: 1248px){
    .swiper-slide .cta{
        bottom: 80px !important;
    }
}
@media (max-width: 1247px) and (min-width: 768px){
    .swiper-slide .cta{
        bottom: 100px !important;
    }
}
@media (max-width: 767px) and (min-width: 480px){
    .swiper-slide .cta{
        bottom: 10px;
        height: 30px;
        line-height: 30px;
    }
}
@media (max-width: 479px) and (min-width: 100px){
    .swiper-slide .cta{
        bottom: 10px;
        height: 30px;
        line-height: 30px;
        padding: 0px 15px !important;
        width: auto;
        left: unset;
        right: 20px;
    }
}





/* Slide de productos en el Home */
#product-slider{
    display: block;
    margin: 32px 0px;
    text-align: center;
}
#product-slider .home-products-slider{
    position: relative;
    max-width: 100%;
}
#product-slider .home-products-slider .slick-arrow{
    position: absolute;
    display: inline-block;
    top:50%;
    margin-top: -20px;
    left:0px;
    width:40px;
    height: 40px;
    border-radius: 100%;
    border:none;
    background-color: #e8e8e8;
    color: #707070;
    z-index: 2;
}
#product-slider .home-products-slider .slick-arrow.slick-next{
    left: unset;
    right:0px;
}
#product-slider .home-products-slider .item{
    text-align: center;
}
#product-slider .home-products-slider .item .img-holder{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}
#product-slider .home-products-slider .item h2{
    display: block;
    margin:0px;
    font-weight: normal;
    font-size: 32px;
    color:#4e4d4c;
    text-align: center;
    margin-bottom: 10px;;
}
#product-slider .home-products-slider .item b{
    color:#3ac0a3;
    text-align: center;
    font-size: 18px;;
}
#product-slider a.btn-products{
    display: inline-block;
    padding: 0px 40px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 45px auto;
    background-color: #009b7e;
    color:#fff;
}
@media (max-width: 1199px){
    #product-slider .home-products-slider .slick-arrow{
        left:-40px;
    }
    #product-slider .home-products-slider .slick-arrow.slick-next{
        left: unset;
        right:-40px;
    }
}
@media (max-width: 1020px){
    #product-slider .home-products-slider{
        max-width: 90%;
        margin:0 auto;
    }
    #product-slider .home-products-slider .item .img-holder{
        height: 180px;
    }
}
@media (max-width: 767px){
    #product-slider .home-products-slider{
        max-width: 100%;
        margin:0 auto;
    }
}
@media (max-width: 520px){
    #product-slider .home-products-slider{
        max-width: 90%;
        margin:0 auto;
    }
}

/* <!-- Slide Promociones --> */
.home-promos{
    padding: 0px;
}
.home-promos .item{
    padding: 0px;
    background-size: cover;
    background-position: top center;
    height: 700px;
}
.home-promos .item .text-holder{
    margin-top: 170px;
}
.home-promos .item .text-holder h2{
    display: block;
    margin:0px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color:#fff;
}
.home-promos .item .text-holder h3{
    display: block;
    margin:0px;
    font-size: 57px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color:#fff;
}
.home-promos .item .text-holder h4{
    display: block;
    margin:0px;
    font-size: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #009b7e;
}
.home-promos .item .text-holder h5{
    display: block;
    margin:0px;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #009b7e;
}
.home-promos .item .text-holder a{
    display: inline-block;
    padding: 0px 40px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 45px auto;
    background-color: #009b7e;
    color:#fff;
}
.home-promos .item .text-holder.light h2,
.home-promos .item .text-holder.light h3{
    color:#000;
}
@media (max-width: 767px){
    .home-promos .item .text-holder h2{
        font-size:30px;
    }
    .home-promos .item .text-holder h3{
        font-size: 37px;
    }
    .home-promos .item .text-holder h4{
        font-size: 36px;
    }
    .home-promos .item .text-holder h5{
        font-size: 40px;
    }
}
@media (max-width: 420px){
    .home-promos .item .text-holder h2{
        font-size:20px;
    }
    .home-promos .item .text-holder h3{
        font-size: 27px;
    }
    .home-promos .item .text-holder h4{
        font-size: 26px;
    }
    .home-promos .item .text-holder h5{
        font-size: 30px;
    }
}

/* <!-- Testimoniales --> */
#testimonials{
    padding: 65px 0px !important;
    background-color: #fff;
}
#testimonials h2{
    display: block;
    margin:0px;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
#testimonials .testimonials-slider{
    transition: all 0.35s;
    position: relative;
}
#testimonials .testimonials-slider .item.slick-center{
    transform: scale(1.3);
}
#testimonials .testimonials-slider .item .item-wrap{
    padding: 45px 70px;
    background-color: #f5f5f5;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 0px 8px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 0px 8px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 0px 8px rgba(255,255,255,1);
}
#testimonials .testimonials-slider .item .item-wrap .img-holder{
    background-position: top center;
    background-repeat: no-repeat;
    width:112px;
    height: 112px;
    border-radius: 100%;
    background-size: cover;
    display: block;
    margin:0px auto;
    margin-bottom: 21px;
}
#testimonials .testimonials-slider .item .item-wrap b{
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #00917e;
}
#testimonials .testimonials-slider .item .item-wrap p{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
#testimonials .testimonials-slider .slick-dots{
    display: block;
    text-align: center;
    margin:0px;
    padding:0px;
    list-style:none;
    margin-top:52px;
}
#testimonials .testimonials-slider .slick-dots li{
    display: inline-block;
}
#testimonials .testimonials-slider .slick-dots li button{
    display: inline-block;
    width:11px;
    height: 11px;
    font-size: 0px;
    background-color: #e5e5e5;
    border-radius: 100%;
    border:none;
    margin:0px 3px;
}
#testimonials .testimonials-slider .slick-dots li.slick-active button{
    background-color: #00ad9e;
}
#testimonials .testimonials-slider .slick-arrow{
    position: absolute;
    display: inline-block;
    top:50%;
    margin-top: -20px;
    left:0px;
    width:40px;
    height: 40px;
    border-radius: 100%;
    border:none;
    background-color: #e8e8e8;
    color: #707070;
    z-index: 2;
}
#testimonials .testimonials-slider .slick-arrow.slick-next{
    left: unset;
    right:0px;
}
@media (max-width: 991px){
    #testimonials .testimonials-slider .item .item-wrap{
        padding: 15px 20px;
    }
    #testimonials .testimonials-slider .item .item-wrap .img-holder {
        width:80px;
        height: 80px;
    }
}
@media (max-width: 799px){
    #testimonials .testimonials-slider .item .item-wrap{
        padding: 15px 20px;
    }
    #testimonials .testimonials-slider .item .item-wrap .img-holder {
        width:80px;
        height: 80px;
    }
    #testimonials .testimonials-slider .item .item-wrap p{
        font-size: 12px;
        line-height: 12px;
        padding:10px 20px;
    }
    #testimonials .testimonials-slider .item.slick-center{
        transform: unset;
    }
}

.puntos-de-venta{
    padding:60px 0px;
}
.puntos-de-venta .fluid-width-video-wrapper{
    height: 200px !important;
    padding:0px !important;
    margin-bottom: 40px !important;
}
.puntos-de-venta address h3{
    font-weight: normal;
    margin-bottom: 20px !important;
}
.puntos-de-venta address p{
    font-size:18px;
    line-height: 24px !important;
    font-weight: lighter;
    margin-bottom: 0px;
}
.puntos-de-venta address a{
    font-size:22px;
    color:#000 !important;
    text-decoration: underline !important;
    vertical-align: middle;
    line-height: 22px;
}


.puntos-de-venta h2{
    margin: 30px 0px 50px 0px;
}
.puntos-de-venta address a img{
    display: inline-block;
    vertical-align: text-top;
    margin-top:2px;
    margin-right: 10px;
}
.puntos-de-venta form .form-control{
    border-radius: 0px;
    border-color:#bdbdbd;
    font-size: 18px;
    color:#000;
    font-weight: 100;
}
.puntos-de-venta form{
    display:block;
    padding:30px 50px;
    -webkit-box-shadow: 0px 0px 18px -2px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 18px -2px rgba(148,148,148,1);
    box-shadow: 0px 0px 18px -2px rgba(148,148,148,1);
}
.puntos-de-venta form textarea.form-control{
    resize: none;
    height: 300px;
}
.puntos-de-venta form button{
    display: block;
    border:none;
    padding: 0px 40px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    background-color: #009b7e;
    color:#fff;
    width: 100%;
}

.grecaptcha-badge{
    bottom: 120px !important;
}


/* <!-- Cart Responsive --> */
.cart-resume .button-black,
.cart-resume #btnContinuar{
    text-align: center !important;
}
.cart-info .button,
.cart-checkout .button{
    width: 100%;
    text-align: center;
}
.cart-checkout hr{
    border:1px solid #dddddd;
}
@media (max-width: 991px) and (min-width: 769px){
    .cart-resume #btnContinuar{
        width: 100%;
        float: none !important;
        margin: 0px !important;
        margin-bottom: 50px !important;
        margin-top: 10px !important;
    }
}
@media (max-width: 768px) and (min-width: 480px){
    .table.cart tfoot{
        display: block;
        width: 100%;
        border:1px dashed;
    }
    .cart-resume .button-black{
        margin-top:10px !important;
        margin-bottom: 10px !important;
    }
    .cart-resume #btnContinuar{
        width: 100%;
        float: none !important;
        margin: 0px !important;
        margin-bottom: 50px !important;
    }
    .cart-resume .table-responsive.bottommargin{
        margin-bottom: 20px !important;
    }
}
@media (max-width: 479px){
    .cart-resume .button-black,
    .cart-resume #btnContinuar{
        font-size: 12px !important;
    }
    .cart-resume .button-black{
        margin-top:10px !important;
        margin-bottom: 10px !important;
    }
    .cart-resume #btnContinuar{
        width: 100%;
        float: none !important;
        margin: 0px !important;
        margin-bottom: 50px !important;
    }
    .cart-resume .table-responsive.bottommargin{
        margin-bottom: 20px !important;
    }
}

/* <!-- Footer --> */
#footer{
    margin-top: 0px !important;
}


/* <!-- Cart Steps --> */
.cart-steps{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 80px;
}
.cart-steps .step{
    position: relative;
}
.cart-steps .step::after{
    display: block;
    position: absolute;
    content: " ";
    position: absolute;
    height: 2px;
    top:50%;
    margin-top: 15px;
    left:-50%;
    width: 100%;
    background-color: #dddddd;
}
.cart-steps .col-md-3:first-child .step::after{
    display: none;
}
.cart-steps .step label{
    display: inline-block;
    width: 100%;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
    text-transform: unset;
}
.cart-steps .step i{
    display: inline-block;
    position: relative;
    width: 62px;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    line-height: 62px;
    background-color: #848383;
    color:#6a6868;
    border-radius: 100%;
    font-size: 24px;
    z-index: 1;
}
.cart-steps .step.current label{
    color: #009b7e;
}
.cart-steps .step.current i{
    background-color: #159b7e;
    color:#fff;
}
.cart-steps .step.current::after{
    background-color: #159b7e;
}
.cart-steps .col-md-3:last-child .step.current i{
    background-color: #3ab54a;
}
.cart-steps .col-md-3:last-child .step.current::after{
    background-color: #3ab54a;
}
@media (max-width: 479px){
    .cart-steps .step label{
        font-size: 12px;
    }
    .cart-steps .step i{
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

}

/* Estilo botón carrito con flecha-derecha */
.button-cart{
    display: inline-block;
    background-color: #009b7e;
    height: 68px;
    line-height: 68px;
    vertical-align: middle;
    text-align: center;
    padding: 0px 30px;
    border:none;
    color:#fff;
    position: relative;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    width: calc(100% - 35px) !important;
}
.button-cart::after{
    display: inline-block;
    position: absolute;
    top:0px;
    width: 0;
    height: 0;
    right: -35px;
    border-top: 34px solid transparent;
    border-left: 35px solid #009b7e;
    border-bottom: 34px solid transparent;
    content: " ";
}
.button-cart:hover{
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
}
@media (max-width: 479px){
    .button-cart{
        font-size: 14px;
    }
}
.cart-resume .button,
.cart-resume input[type="text"].cupon{
    height: 68px;
    line-height: 68px;
}
.cart-total-resume{
    margin-top: 50px;
}
.cart-total-resume .col{ float: right;}
.cart-total-resume tr:nth-child(1) td{
    color: #888888;
    font-size: 18px;;
    border-top: none;
}
.cart-total-resume tr:last-child td{
    color: #000;
    font-size: 18px;
    font-size: 25px;
}
.table.cart .cart_item:last-child td{
    border-bottom: 1px solid #dddddd;
}
.table.cart .cart_item a.remove{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #888888;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}
.table.cart .cart_item .quantity{
    float: none !important;
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
.table.cart h3{
    margin: 0px;
    font-size: 25px;
    color: #444444;
}
.table.cart td.cart-product-subtotal span{
    font-weight: bold;
}
.cart-resume #btnContinuar{
    margin-bottom: 80px;
}
.page-content.cart-info h3{
    margin: 15px 0px 15px 0px !important;
    border-top: 2px solid #dddddd;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
}
.page-content.cart-info .col{
    float: right;
}


#payment-form, #installment-plan-form{
    position: relative;
    margin: 0px;
    padding: 0px;
}
#payment-form button, #installment-plan-form button{
    margin: 0px;
    margin-top: 10px;
}
#installment-plan-form button{
    height: 68px;
    font-size: 24px;
}
.payment-loader{
    text-align: center;
}
.payment-loader i{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #00917e;
    margin-right:15px;
}
.payment-loader small{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 16px;
    color: #8a8989;
    font-weight: 100;
}
#cart-success{}
#cart-success table,
#cart-success table tr,
#cart-success table tr td,
#cart-success table tr tH{
    border:none !important;
}
#cart-success h2{
    display: block;
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #3ab54a;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 20px;
}
#cart-success .order-payment-info tr td:last-child{
    text-align: right;
}
#cart-success .order-payment-info tr:first-child td:last-child{
    color: #009b7e;
    font-style: italic;
    font-size: 18px;
}
#cart-success .order-payment-info tr:nth-child(2) td:last-child{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.22;
    letter-spacing: normal;
    color: #444444;
}
#cart-success .order-payment-info tr:last-child td{
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: #009b7e;
}
#cart-success .disclaimer{
    border-top: 2px solid #dddddd;
    padding: 37px 0px;
    vertical-align: middle;
    text-align: left;
}
#cart-success .disclaimer p{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #888888;
    text-align: justify;
}
#cart-success .disclaimer p b{
    color: #009b7e;
}
#cart-success .disclaimer a{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #009b7e;
    margin-right: 30px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}
#cart-success .disclaimer a i{
    width: 28px;
    height: 28px;
    line-height: 28px;
    color:#fff;
    background-color: #00917e;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    font-size: 14px;
    margin-right: 10px;
}
#cart-success a.continue-shoping{
    display: inline-block;
    text-align: center;
    color: #0e0e0e;
    font-weight: bold;
    font-size: 13px;
    height: 75px;
    line-height: 75px;
    padding: 0px 20px;
    position: relative;
    border: #1abc9c 3px solid;
    border-radius: 50px;
    font-size: 20px;
    margin-bottom: 70px;
}
#cart-success .card-instructions{
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 15px;
    color: #FF0000;
}


.requerir-factura{
    margin: 15px 0px 15px 0px !important;
    border-top: 2px solid #dddddd;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height:22px;
    letter-spacing: normal;
    text-align: left;
    color: #444444;
    width: 99%;
    display: inline-block;
    vertical-align: middle;
}
.requerir-factura input[type="checkbox"]{
    display: inline-block;
    margin-right: 15px;
}


/* Homr Benefits */
.home-benefits{
    text-align: center;
    padding: 95px 0px;
    background-image: url('/src/images/benefits/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-benefits h2{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 50px;
}
.home-benefits h2::after{
    display: block;
    width: 40px;
    height: 2px;
    background-color: #707070;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -20px;
    content: " ";
    border-radius: 2px;
}
.home-benefits .col-benefit section{
    display: block;
    text-align: center;
    min-height: 250px;
}
.home-benefits .col-benefit section .img-holder{
    text-align: center;
}
.home-benefits .col-benefit section .img-holder img{
    display: inline-block;
}
.home-benefits .col-benefit section label{
    font-family: Lato;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #545454;
    text-transform: uppercase;
    padding: 24px 50px;
}
/* PROMO */
sup.promo-price{
    text-decoration: line-through;
    color: #707070;
    font-size: 12px;
}
sup.promo-price + b,
sup.promo-price + ins{
    color: red !important;
}


/* Direcciones en el Footer */
.footer-addresses{}
.footer-addresses address{
    display: block;
    margin-bottom: 40px;
}
.footer-addresses address h2{
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 7px;
}
.footer-addresses address p{
    height: 50px;
    margin: 0px;
}
.footer-addresses address a{
    transition: all 0.35s;
}
.footer-addresses address a:hover{
    color: #00917e !important;
    text-decoration: underline !important;
}
.footer-addresses address a strong{}